@{
    ViewBag.Title = "Activities";
}

@model IEnumerable<HangfirePOC.Model.Activity>

<div class="row">
    <div class="col-md-12">
        <h2>Activities</h2>
        <p>
            @Html.ActionLink("Create New Activity", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        #@Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a href="@Url.Action("Create", "Schedule", new { activityId = item.ID}, null)" class="btn btn-sm btn-primary">
                            Schedule New
                        </a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>